<!DOCTYPE html>
<html>
<head>
	<style >
		.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
	</style>
	<title></title>
</head>
<body>
	<h2>
		Welcome To The Store!
		To go back to the Homepage press <a href="/">here</a>

	</h2>
{%for product in Products %}
<div class="card">
  <img src="{{product.picturelink}}" style="width:100%">
  <h1>{{product.name}}</h1>
  <p class="price">{{product.price}}</p>
  <p>{{product.description}}</p>
  <p><button> <a href="/cart/{{product.id}}">Add to Cart </a></button></p>
</div> 
{%endfor%}

</body>
</html>